<%= form_with(model: spot) do |f| %>
  <% if spot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :spot_name %>
    <%= f.text_field :spot_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :category %>
    <%= f.select :category, Spot.categories.keys.map { |k| [t("enum.spot.category.#{k}"), k ]}, prompt: "カテゴリを選択してください", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/*' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
