<div id="<%= dom_id spot %>">
  <div class="container pt-5">
    <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">
        <h1><%= t('.title') %></h1>
        <article class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag spot.image, width: "300", height: "200", class: "card-img-top img-fluid" %>
              </div>
              <div class="col-md-9">
                <h3 style="display: inline;"><%= spot.spot_name %></h3>
                <ul class="list-inline">
                  <li class="list-inline-item"><%= "by #{spot.user.name}" %></li>
                  <li class="list-inline-item"><%= l spot.created_at, format: :long %></li>
                </ul>
                <% if current_user.own?(spot) %>
                  <div class='d-flex justify-content-end'>
                    <%= link_to edit_spot_path(spot), id: "button-edit-#{spot.id}" do %>
                      <i class='bi bi-pencil-fill'></i>
                    <% end %>
                    <%= link_to spot_path(spot), id: "button-delete-#{spot.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか' } do %>
                      <i class="bi bi-trash-fill"></i>
                    <% end %>
                  </div>
                <% end %>
                </div>
              </div>
              <p><%= simple_format(spot.body) %></p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
