<% content_for :title, "スポット一覧" %>

<div class="container">
  <%= form_with model: @search_spots_form, scope: :q, url: spots_path, method: :get do |f| %>

    <div class="row mb-3 justify-content-center">
      <div class="col-md-9" data-controller="autocomplete" data-autocomplete-url-value="/spots/search" role="combobox">
        <%= f.search_field :spot_tag_name, class: 'form-control', data: { autocomplete_target: 'input' }, placeholder: "スポット名" %>
          <ul class="list-group" style="list-style: none; padding-left: 0;" data-autocomplete-target="results"></ul>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3 mb-3">
        <%= f.select :category, Spot.categories.map { |k, v| [t("enums.spot.category.#{k}"), v ]} , { include_blank: "カテゴリ" }, class: 'form-control col-3' %>
      </div>
      <div class="col-md-3 mb-3">
        <%= f.search_field :address, class: 'form-control', placeholder: "住所" %>
      </div>
      <div class="col-md-3 mb-3">
        <%= f.search_field :tag_name, class: 'form-control', placeholder: "タグ" %>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
      <div class="col-4 text-center">
        <%= f.submit '検索', class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 text-center">
      <% if params[:tag_id].present? %>
        <h1><%= "「#{Tag.find(params[:tag_id]).name }」のスポット一覧" %></h1>
      <% else %>
        <h1>スポット一覧</h1>
      <% end %>
    </div>

    <div id="spots">
      <% @spots.each do |spot| %>
        <%= render spot %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-center">
      <%= paginate @spots %>
    </div>
  </div>
</div>

