<div class="container">
  <div class="row justify-content-around mb-4 shadow-sm bg-body-tertiary rounded">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
      <%= link_to  "スポット詳細", spot_path(@spot), class: "nav-link active" %>
      </li>
      <li class="nav-item">
      <%= link_to"コメント一覧", spot_comments_path(@spot), class: "nav-link" %>
      </li>
    </ul>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h1><%= @spot.spot_name %></h1>
      <div class="row justify-content-center">
        <% @spot.tags.each do |tag| %>
          <div class="col-auto">
            <%= link_to spots_path(tag_id: tag.id) do %>
              <span class="badge text-bg-secondary"><%= "#{ tag.name }" %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row justify-content-end'>
  <% if user_signed_in? && current_user.own?(@spot) %>
    <div class='col-1'>
      <%= link_to edit_spot_path(@spot), id: "button-edit-#{@spot.id}" do %>
        <i class="bi bi-pencil-square fs-3"></i>
      <% end %>
    </div>
    <div class='col-1'>
      <%= link_to spot_path(@spot), id: "button-delete-#{@spot.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか' } do %>
        <i style="color:red;" class="bi bi bi-trash3-fill fs-3"></i>
      <% end %>
    </div>
  <%  else %>
    <%= render 'bookmark_buttons', { spot: @spot } if user_signed_in? %>
  <% end %>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-4 text-center">
      <% if @spot.image.attached? %>
        <%= image_tag @spot.image_as_eye_catch, class: "img-fluid"%>
      <% else %>
        <%= image_tag "spot_default.webp", size: "400x400", class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" style="width: 25%"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-center">カテゴリ</th>
            <td><%= "#{@spot.category_i18n}" %></td>
          </tr>
          <tr>
            <th scope="row" class="text-center">投稿者</th>
            <td><%= "#{@spot.user.name}" %></td>
          </tr>
          <tr>
            <th scope="row" class="text-center">おすすめ度</th>
            <td><%= "#{@spot.comments.average(:rating)&.round(1)}" %>
              <span class="rate-show" style="color:#ffcc00"><%= "#{@spot.decorate.average_star}" %></span></li>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-center">説明</th>
            <td><%=  "#{@spot.body}" %></td>
          </tr>
          <tr>
            <th scope="row" class="text-center">マップ</th>
            <td><%= render "map", spot: @spot %></td>
          </tr>
          <tr>
            <th scope="row" class="text-center">利用シーン</th>
            <td class="d-flex justify-content-center"><%= pie_chart @spot.comments.group(:scene).count.transform_keys { |key| I18n.t("enums.comment.scene.#{key}") }, width: "200px", height: "200px", donut: true %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <p>朝活の報告はこちら</p>
        <%= link_to "https://twitter.com/share?url=#{spot_url(@spot)}&text=今日はここで朝活！%0a%0a#{@spot.spot_name}", target: "_blank", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
          <button type="button" class="btn btn-dark bi bi-twitter-x" style="font-size: 1.5rem"></button>
        <% end %>
      </div>
    </div>
  </div>

</div>