<%= form_with model: comment, url: spot_comments_path(spot) do |f| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :scene %>
    <%= f.select :scene, Comment.scenes.keys.map { |k| [t("enum.comment.scene.#{k}"), k ]}, prompt: "目的を選択してください", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :start_at %>
    <%= f.time_field :start_at, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :finish_at %>
    <%= f.time_field :finish_at, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :rating %>
    <%= f.select :rating, [["&#11088;".html_safe, 1],["&#11088;&#11088;".html_safe, 2], ["&#11088;&#11088;&#11088;".html_safe, 3], ["&#11088;&#11088;&#11088;&#11088;".html_safe, 4], ["&#11088;&#11088;&#11088;&#11088;&#11088;".html_safe, 5]], class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
