<p style="color: green"><%= notice %></p>

<%= render partial: 'comment', locals: { comment: @comment, spot: @spot } %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <%= link_to "Back to comments", spot_comments_path(@comment) %>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>
