<div id="<%= dom_id @comment %>">

<div class="container">
  <div class="row justify-content-around mb-4 shadow-sm bg-body-tertiary rounded">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to  "スポット詳細", spot_path(@spot), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to"コメント一覧", spot_comments_path(@spot), class: "nav-link active" %>
      </li>
    </ul>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h1><%= @spot.spot_name %></h1>
      <div class="row justify-content-center">
        <% @spot.tags.each do |tag| %>
          <div class="col-auto">
            <%= link_to spots_path(tag_id: tag.id) do %>
              <span class="badge text-bg-secondary"><%= "#{ tag.name }" %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row justify-content-end'>
    <div class="col-12 mb-3 d-flex justify-content-end">
      <%= link_to "コメント投稿", new_spot_comment_path, class: "btn btn-outline-primary" %>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-4">
      <% if @spot.image.attached? %>
        <%= image_tag @spot.image_as_eye_catch, class: "img-fluid" %>
      <% else %>
        <%= image_tag "spot_default.webp", size: "400x400", class: "img-fluid" %>
      <% end %>
    </div>

    <div class="col-md-7 shadow-sm bg-body-tertiary rounded" id="comments">
      <div class="row justify-content-end">
        <% if user_signed_in? && current_user.own?(@comment) %>
          <div class='col-1'>
            <%= link_to edit_spot_comment_path(@spot, @comment) do %>
              <i class="bi bi-pencil-square fs-3"></i>
            <% end %>
          </div>
          <div class='col-1'>
            <%= link_to spot_comment_path(@spot, @comment), data: { turbo_method: :delete, turbo_confirm: '削除しますか' } do %>
              <i style="color:red;" class="bi bi bi-trash3-fill fs-3"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2><%= "#{@comment.title}" %></h2>
        </div>
        <div class="col-12">
          <table class="table table-white">
            <thead>
              <tr>
                <th scope="col" style="width: 30%"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-center">投稿者</th>
                <td><%= "#{@comment.user.name}" %></td>
              </tr>
              <tr>
                <th scope="row" class="text-center">利用シーン</th>
                <td><%= "#{@comment.scene_i18n}" %></td>
              </tr>
              <tr>
                <th scope="row" class="text-center">利用時間</th>
                <td><%= "#{@comment.start_at.strftime( "%H:%M" )} - #{@comment.finish_at.strftime( "%H:%M" )}" %></td>
              </tr>
              <tr>
                <th scope="row" class="text-center">おすすめ度</th>
                <td style="color:#ffcc00"><%= "#{@comment.rating_i18n}" %></td>
              </tr>
              <tr>
                <th scope="row" class="text-center">本文</th>
                <td><%= "#{@comment.body}" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
