<div class="container">
  <div class="row text-center">
    <div class="col-6 mb-4 mx-auto">
      <h1>ログイン</h1>
    </div>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="col-4 mb-3 mx-auto">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="col-4 mb-2 mx-auto">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="col-6 mb-4 mx-auto"">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="col-6 mb-4 mx-auto">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <div class="col-8 mb-4 mx-auto">
      <%= button_to image_tag('sign_in_google.png'), user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "btn btn-link p-0 border-0" %>
    </div>

    <div class="col-8 mx-auto">
      <%= link_to "パスワードを忘れた方はこちら", new_user_password_path %>
    </div>
  </div>
</div>
