<div class="container">
  <div class="row text-center">
    <div class="col-7 mb-4 mx-auto">
      <h1>パスワードを忘れた場合</h1>
    </div>
    <div class="col-7 mx-auto">
      <p>パスワードをリセットします。MorningHubに登録しているメールアドレスを入力してください。</p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field col-4 mb-3 mx-auto">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "パスワード再設定用メール送信" %>
      </div>
    <% end %>
  </div>
</div>
